<%- include ('../partials/header') %> <%- include ('../partials/menu') %>
<main>
  <div class="page-content page-container" id="page-content" style = "background-color: #CFD8D7;">
    <div class="padding">
        <div class="row container d-flex justify-content-center">

<div class="col-lg-8 grid-margin stretch-card" style = "background-color: #CFD8D7; padding-top: 50px;">
              <div class="card" style = "background-color:#B5C9C3;">
                <div class="card-body">
                  <h4 class="card-title" Style = "text-align: center;">Roommates</h4>
                  <p class="card-description" style = "text-align: center;">
                    Find a Roommate
                  </p>
                  <div class="table-responsive">
                    <table class="table">
                      <thead>
                        <tr>
                          <th>Name</th>
                          <th>Min Rent</th>
                          <th>Max Rent</th>
                          <th>Graduation Year</th>
                          <th>About Me</th>
                          <th></th>
                        </tr>
                      </thead>
                      <tbody>
                        <% foundUsers.forEach(element => { %>
                          <tr>
                            <td> <%= element['username'] %></td>
                            <td><%= element['min_rent'] %> </td>
                            <td> <%= element['max_rent'] %></td>
                            <td><%= element['graduation_year']%></td>
                            <td><%= element['about_me']%></td>
                            <td>
                              <a>MACTH button?</a>
                            </td>
                          
                          </tr>
      
                        <%}) %> 

                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
            
            </div>
              </div>
            </div>
</main>


<%- include ('../partials/footer') %>